#supportHero{
    background-color: rgb(8, 131, 219);
    color: white;
}
#supportHero a{
    color: white;
}
#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
#supportHero input{
    padding: 20px 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-size: large;
    
}
li a{
    text-decoration: none;
}
#anchor a{
    text-decoration: none;
}
